@model List<UserRoleViewModel>

@{ var roleID = ViewBag.roleID; }

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Dodajte ili izbacite korisnike iz ove uloge</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].UserId" />
                    <input type="hidden" asp-for="@Model[i].UserName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input mr-4" />
                    <label class="form-check-label ml-5" asp-for="@Model[i].IsSelected">
                        @Model[i].UserName
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Izmenite</button>
            <a asp-controller="Administration" asp-action="EditRole" asp-route-id="@roleID"
                class="btn btn-primary">Nazad</a>
        </div>
    </div>
</form>
