@model LocationViewModel

@if(ViewData["CurrentFilter"].ToString() == "")
{
    Layout = null;
}

<div class="card">
    <div class="card-header">
        <input asp-for="cityName" class="form-control cityInput" placeholder="Unesite naziv grada">
            <button type="submit" class="btn btn-primary mt-3"
                    onclick="insertCity()"> Unesite grad </button>
            <label>*Izmene vrsite direktnom izmenom u tabeli u zeljenom polju, a zatim klikom na dugme izmeni</label>
            <div>
                <span asp-validation-for="cityName" class="text-danger mt-3"></span>
            </div>
    </div>
    <div class="card-body">
        <form asp-action="ListLawsuitCities" id="searchCity" method="get">
            <div class="form-actions no-color">
                <p>
                    Pretrazite po nazivu grada: <input type="text" id="cityInput" name="SearchString" value="@ViewData["currentFilter"]" />
                    <input type="submit" value="Trazite" class="btn btn-primary" /> |
                    <a asp-controller="Administration" asp-action="EntitiesManagement">Nazad na listu</a>
                </p>
            </div>
        </form>
        <table class="table table-striped table-responsive-md btn-table">
            <thead>
                <tr>
                    <th>
                        Id grada
                    </th>
                    <th role="button" onclick="searchCity('@ViewBag.NameSortParm')" style="color: #336699;">
                        Naziv grada
                    </th>
                </tr>
            </thead>
            <tbody class="cityTable">
                @if(Model.locations.Any())
                {
                    @foreach(var city in Model.locations.Reverse())
                    {
                        <tr>
                            <td>@city.id</td>
                            <td><span id=@city.id contenteditable>@city.cityName</span></td>
                            <td>
                                <button type="button" class="btn btn-outline-primary waves-effect" 
                                        onclick="changeCity(@city.id)">Izmeni</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger waves-effect"
                                        onclick="deleteCity(@city.id)"> Izbrisi</button> 
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="card-header insertedCity">
                        Nema lokacija
                    </div>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
$('#searchCity').submit(function(e){
    e.preventDefault();
    var searchInput = $('#cityInput').val();
    if (searchInput.length < 1)
    {
        alert("Morate uneti vrednost za pretragu");
        return false;
    }
    else
    {
        $('#searchCity')[0].submit();
    }
})
</script>