@model TypeOfProcessViewModel

@if(ViewData["CurrentFilter"].ToString() == "")
{
    Layout = null;
}

<div class="card">
    <div class="card-header">
        <input asp-for="name" class="form-control processInput" placeholder="Unesite tip postupka(npr Paricni postupak)">
            <button type="submit" class="btn btn-primary mt-3"
                    onclick="insertTypeOfProcess()">Unesite postupak</button>
            <label>*Izmene vrsite direktnom izmenom u tabeli u zeljenom polju, a zatim klikom na dugme izmeni</label>
            <div>
                <span asp-validation-for="name" class="text-danger mt-3"></span>
            </div>
    </div>
    <div class="card-body">
        <form asp-action="ListTypeOfProcess" id="searchTypeOfProcess" method="get">
            <div class="form-actions no-color">
                <p>
                    Pretrazite po nazivu postupka: <input type="text" id="typeOfProcessInput" name="SearchString" value="@ViewData["currentFilter"]" />
                    <input type="submit" value="Trazite" class="btn btn-primary" /> |
                    <a asp-controller="Administration" asp-action="EntitiesManagement">Nazad na listu</a>
                </p>
            </div>
        </form>
        <table class="table table-striped table-responsive-md btn-table">
            <thead>
                <tr>
                    <th>Id postupka</th>
                    <th role="button" onclick="searchTypeOfProcess('@ViewBag.NameSortParm')" style="color: #336699;">
                        Tip postupka
                    </th>
                </tr>
            </thead>
            <tbody class="processTable">
                @if(Model.processes.Any())
                {
                    @foreach(var process in Model.processes.Reverse())
                    {
                        <tr>
                            <td>@process.id</td>
                            <td><span id=@process.id contenteditable>@process.name</span></td>
                            <td>
                                <button type="button" class="btn btn-outline-primary waves-effect" 
                                        onclick="changeTypeOfProcess(@process.id)">Izmeni</button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-danger waves-effect"
                                        onclick="deleteTypeOfProcess(@process.id)"> Izbrisi</button> 
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="card-header insertedTypeOfProcess">
                        Nijedan tip postupka nije unet jos uvek
                    </div>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
$('#searchTypeOfProcess').submit(function(e){
    e.preventDefault();
    
    if ($('#typeOfProcessInput').val().length < 1)
    {
        alert("Morate uneti vrednost za pretragu");
        return false;
    }
    else
    {
        $('#searchTypeOfProcess')[0].submit();
    }
})
</script>